@model List<Personal_MVC.Models.SponsorDetails>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Sponsor ID</th>
            <th>Sponsor Name</th>
            <th>Total Payments</th>
            <th>Number of Payments</th>
            <th>Latest Payment Date</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var sponsor in Model)
            {
                <tr>
                    <td>@sponsor.SponsorId</td>
                    <td>@sponsor.SponsorName</td>
                    <td>@sponsor.TotalPayments</td>
                    <td>@sponsor.NumberOfPayments</td>
                    <td>@sponsor.LatestPaymentDate.ToString("yyyy-MM-dd")</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5">No data available.</td>
            </tr>
        }
    </tbody>
</table>
